<!-- Chaning data-->
<h3>Machine</h3>
<div class="panel panel-default"  ng-controller="Machine_Mastercontroller">
    <div class="panel-body">
         <div class="btn-group pull-right">   
            <!-- add machine -->
               <button type="submit" class="btn btn-labeled btn-success"  ng-click="addMachine(name,ID,select)" >
                     <span class="btn-label">
                        <em class="fa fa-plus"></em>
                     </span>Add</button> 
                     <!-- refresh form data -->
               <div class="col-md-3 col-sm-4" ng-click="refersh()">
                     <em class="icon-refresh"></em></div>
             
         </div>

         </div>
         
         <form class="form-validate" name="form" ng-blur="form.submitForm($valid)" novalidate="">

              <div class="form-group">
                 <label class="col-lg-2 control-label">Machine Name</label>
                 <input type="text" placeholder="Machine name" class="form-control" name="name" ng-model="name"  pattern="[a-zA-Z0-9_ ]+" ng-pattern-restrict required="">
                 <span class="text-danger" ng-show="form.validateInput('name', 'required')">This field is required</span>
               </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Machine ID</label>
                <input type="text" placeholder="Machine ID" class="form-control" min="0" ng-model="ID" pattern="[0-9a-zA-Z]+" ng-pattern-restrict/>
               </div>

                  <label class="col-lg-2 control-label">Machine Type</label>
                  <select class="form-control" name="select" ng-model="select">
                  <option value="">--Select--</option>
                  <option value="Injection Moulding machine">Injection Moulding machine</option>
                  <option value="Press machine">Press machine</option>
                  <option value="Strip cutting machine">Strip cutting machine</option> </select>
                  <div ng-show="button">
                     <button type="submit" class="btn btn-info btn-lg" ng-click="update(data,$index)">Update</button>
                  </div>
                 
               
                  
            <div class="btn-group pull-right" class="form">
               <!-- <label class="col-lg-2 control-label" >Search</label> -->
               Search  <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dtBasicExample" ng-model="customFilter"/>
            </div>
            
            <h3>Table xEditable
               <small>Edit in place for AngularJS</small>
            </h3>
            <div class="container-fluid">
               <!-- Editable row-->
               
               <table class="table table-bordered table-hover bg-white">
                  <tr style="font-weight: bold">
                     <td style="width:35%">Sr.no</td>
                     <td style="width:20%">Machine Name</td>
                     <td style="width:20%">Machine Type</td>
                     <td style="width:25%">Machine ID</td>
                     <td style="width:25%">Options</td>
                  </tr>
                  <tr ng-repeat="data in machine_data | filter:customFilter | orderBy:sortBy:reverse">
                     <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="data.name" e-name="name" e-form="rowform" onbeforesave="table.checkName($data, data.id)" e-required="">{{ data.name || &apos;empty&apos; }}</span>
                     </td>
                     <td>
                        <!-- editable status (select-local)-->
                        <span editable-select="data.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in table.statuses">{{ table.showStatus(user) }}</span>
                     </td>
                     <td>
                        <!-- editable group (select-remote)-->
                        <span editable-select="data.group" e-name="group" onshow="table.loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in table.groups">{{ table.showGroup(user) }}</span>
                     </td>
                     <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, user.id)" ng-show="rowform.$visible" shown="table.inserted == user" class="form-buttons form-inline">
                           <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
                              <em class="fa fa-save"></em>
                           </button>
                           <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
                              <em class="fa fa-times"></em>
                           </button>
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                           <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                              <em class="fa fa-pencil"></em>
                           </button>
                           <button ng-click="table.removeUser($index)" title="Delete" class="btn btn-sm btn-danger">
                              <em class="fa fa-trash"></em>
                           </button>
                        </div>
                     </td>
                  </tr>
               </table>
            <!-- table start
            ng-click="sortBy:'name';reverse=!reverse"-->
           
                  <!-- <div class="panel-body"> 
                      <table  class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
                           
                        <tr>
                          <th ng-click="sortBy='name';reverse=!reverse">Sr.no</th>
                          <th ng-click="sortBy='name';reverse=!reverse"  >Machine Name</th>
                          <th ng-click="sortBy='type';reverse=!reverse">Machine Type</th>
                          <th ng-click="sortBy='ID';reverse=!reverse">Machine ID</th>
                          <th>Options</th>
                        
                        </tr>
                      </thead>
                        <tbody>
                          <tr ng-repeat="data in machine_data | filter:customFilter | orderBy:sortBy:reverse">
                            <td >{{$index+1}}</td>
                            <td>{{data.machine_name}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.ID}}</td>
                            <td><button type="button" ng-click="edit(data)" class="btn btn-sm btn-warning">
                                 <em class="fa fa-edit"></em>
                              </button> 
                              <button type="button" ng-click="delete(data)" class="btn btn-sm btn-danger">
                                    <em class="fa fa-trash-o"></em>
                              </button>
                              
                             
                           </td>
                           
                          </tr>
                        </tbody>
                        ////// Warning button with label
                        <button type="button" class="btn btn-labeled btn-warning" ng-click="resetTable()">
                           <span class="btn-label"><i class="fa fa-warning"></i>
                           </span>Clear</button> ///////
                           



                    </table> -->
                  </div>
             
          </div>
       </div>
   </form>
</div>
</div>
    












